:root {
    --theme-clr: rgba(245, 71, 72, 1) ;
    --theme-clr-2: rgba(250, 249, 245, 1);
    --black-clr: rgba(0, 0, 0, 1);
    --white-clr: rgba(255,255,255);
    --border-radius: 5px;
    --border-clr: rgba(245, 71, 72, 1);
    --1px-border-clr: 1px solid rgba(245, 71, 72, 1);
}