@use '../../utils' as *;

/*----------------------------------------*/
/*  6.13 Services
/*----------------------------------------*/

.client {
  &-logo {
    align-items: center;
    background-color: var(--theme-clr-2);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}

.about{
  &-features{
    & li{
      list-style: none;
      margin-bottom: 10px;
      & i{
        margin-right: 5px;
      }
    }
  }
  &-image{
    & img{
      border-radius: var(--border-radius);
    }
  }
}