@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style
/*----------------------------------------*/

.gallery {
    &-thumb {
        position: relative;

        & a {
            img {
                width: 400px;
                border-radius: var(--border-radius);
                height: calc(60vw / 3.9);

                @media #{$xl} {
                    width: 380px;
                    height: calc(65vw / 3.9);
                }

                @media #{$lg} {
                    width: 380px;
                    height: calc(80vw / 3.9);
                }

                @media #{$md} {
                    width: 320px;
                    height: calc(90vw / 3.9);
                }

                @media #{$sm} {
                    width: 250px;
                    height: calc(90vw / 3.9);
                }

                @media #{$xs} {
                    width: 200px;
                    height: calc(80vw / 2.9);
                }
            }

            &:hover {
                & .gallery-view {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

    }

    &-view {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: var(--white-clr);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }
}

.slide-element {
    & a {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
            border-radius: var(--border-radius);
        }

        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


.has-image[data-image-fit="contain"] .fancybox__image {
    width: 600px;
    height: 500px;
    object-fit: contain;
}

.fancybox__container {
    z-index: 999999;
}