@use '../../utils' as *;

/*----------------------------------------*/
/*  6.11 Pricing
/*----------------------------------------*/


.menu {
  padding: 10px 15px;
  background: var(--theme-clr-2);
  border-radius: var(--border-radius);
  overflow: hidden;

  &:hover {
    & .menu-image {
        img {
          transform: scale(1.1);
        }
    }
  }

  &-image {
    margin-bottom: 10px;
    overflow: hidden;

    a {
      img {
        overflow: hidden;
        transition: .3s;
      }
    }
  }

  h4 {
    a {
      text-transform: capitalize;

      &:hover {
        color: var(--theme-clr);
      }
    }
  }

  &-swiper {
    &-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
      left: 0px;
      font-size: clamp(0.813rem, 0.767rem + 0.23vw, 0.938rem);
      background: var(--theme-clr);
      height: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
      width: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
      line-height: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
      text-align: center;
      border-radius: 30px;
      color: var(--white-clr);
      opacity: 0;
      visibility: hidden;
      transition: .3s;

      &-next {
        left: auto;
        right: 0px;
      }
    }
  }

  &-wrapper {
    &:hover {
      & .menu-swiper-button {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}